{
  "HelloFunction": {
    "STAGE": "dev"
  },
  "AuthFunction": {
    "STAGE": "dev"
  },
  "UsersReadFunction": {
    "STAGE": "dev",
    "DB_HOST": "host.docker.internal",
    "DB_PORT": "5432",
    "DB_USER": "postgres",
    "DB_PASSWORD": "postgres",
    "DB_NAME": "app"
  },
  "UsersWriteFunction": {
    "STAGE": "dev",
    "DB_HOST": "host.docker.internal",
    "DB_PORT": "5432",
    "DB_USER": "postgres",
    "DB_PASSWORD": "postgres",
    "DB_NAME": "app"
  },
  "MigrationFunction": {
    "STAGE": "dev",
    "DB_HOST": "host.docker.internal",
    "DB_PORT": "5432",
    "DB_USER": "postgres",
    "DB_PASSWORD": "postgres",
    "DB_NAME": "app"
  }
}
